.page-sign {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    justify-content: center;
    padding-top: 2.45rem;
    padding-bottom: 2.45rem;
}

.form-sign {
    width: 100%;
    max-width: 26.25rem;
    padding: .95rem;
    margin: 0 auto;
}

body{
    background-image: url(../../img/sign.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}